@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(skybg.jpg);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family:'Poppins', sans-serif;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 3rem;
    font-weight: normal;
    margin-top: -15rem;
    letter-spacing: 0.5rem;
}
.countdown-container{
    display: flex;
}
.countdown-container .hours-c{
    margin: 1rem 2.5rem;
}
.countdown-container p{
    display: flex;
    justify-content: center;
    font-size: 7rem;
}
.countdown-container span{
    display: flex;
    justify-content: center;
    font-size: 1rem;
}